/*Helena Knüwer*/
h2{
    color: red;
    border: red dotted;
    padding: 0px 500px 0px 500px;
}
pre{
    padding:0px 525px 0px 525px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: unset;
    font-weight: bold;
}
button{
    color: whitesmoke;
    padding: 0px 525px 0px 525px;
    background-color: red ;
    font-family: Arial, Helvetica, sans-serif;
    font-style: unset;
    font-weight: bold;
    position: unset;
}
picture{
    height: 5px;
    
}