body {
    background-color:white;
}
h1{
    color:black;
}

/*13.02.2020*/

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: 1px dotted red;
    display: flex;
    
}
li {
    border:1px solid black;
    margin:0.5em; 
    padding: 0,5em; 
}